<h1> Project: <strong> <%= @project.name %> </strong> </h1>
<h2> for: <strong> <%= @project.company %> </strong> </h2>
<p> <%= @project.description %> </p>

<div class="row">
	<div class="col-xs-12 col-md-8 col-md-offset-2">
		<div id="media-container">
			<% @media.each do |media| %>
				<% if media.mediatype == "photo" %>
					<%= image_tag(media.link, alt: "Media num. #{media.id}", class: "img-thumbnail media") %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>