// Place all the styles related to the projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.media-container {
  max-width: 1200px;
}

.media-container:after {
  content: '';
  display: block;
  clear: both;
}

.medium {
  float: left;
  width: 23%;
  height: auto;
  margin-bottom: 15px;
  img {
    max-width: 100%;
    height: auto;
  }
}

.medium-gutter {
  width: 2%;
}