// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav{
	div{
		div{
			a.logo { 
				font-family: "Pacifico", Arial, serif;
				font-weight: 400;
				font-size: 2em;
			}
		}
	}
}

.flash-msg .alert{
	border-radius: 0;
	margin-bottom: 0;
}

div.modal-header{
	span.logo{
		font-family: "Pacifico", Arial, serif;
		font-weight: 400;
		font-size: 1.8em;
	}
}

div.modal-body{
	div.form-group{
		form{
			input.login-field{
				margin: 5px;
			}
		}
	}
}

.modal-footer{
	display: inline-block;
}

@media (max-width: 768px) {
	.navbar-text {
		display: none;
	}
	.navbar-search-field-bs {
		display: none;
	}
	.navbar-search-field-ss {
		display: inline;
	}
}

@media (min-width: 768px) {
	.navbar-search-field-ss {
		display: none;
	}
}