// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav{
	div{
		div{
			a.logo { 
				font-family: "Pacifico", Arial, serif;
				font-weight: 400;
				font-size: 2em;
			}
		}
	}
}

.flash-msg .alert{
	border-radius: 0;
	margin-bottom: 0;
}

div.modal-header{
	span.logo{
		font-family: "Pacifico", Arial, serif;
		font-weight: 400;
		font-size: 1.8em;
	}
}

div.modal-body{
	div.form-group{
		form{
			input.login-field{
				margin: 5px;
			}
		}
	}
}

.modal-footer{
	display: inline-block;
}

.home-projects-image {
	border-radius: 2px;
}

.project-gutter {
	width: 0;
}

.enliven-logo {
	width: 160px;
	position: relative;
	top: 10px;
}

.enliven-logo-login {
 	width: 130px;
}

.initial-page.jumbotron {
	background-image: url(bg-home.jpg);
	background-size: cover;
	background-position: center 25%;
	text-shadow: 0 1px 3px black;
}

.initial-page-logged.jumbotron {
	background-image: url(bg-nigga.jpg);
	background-size: cover;
	background-position: center;
}

@media (max-width: 768px) {
	.navbar-text {
		display: none;
	}
	.navbar-search-field-bs {
		display: none;
	}
	.navbar-search-field-ss {
		display: inline;
	}
	#search-form-1 #search-form-2 {
		display: none;
	}
}

@media (min-width: 768px) {
	.navbar-search-field-ss {
		display: none;
	}
}