// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
nav{
	div{
		div{
			a.logo { 
				font-family: "Pacifico", Arial, serif;
				font-weight: 400;
				font-size: 2em;
			}
		}
	}
}