// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.user-header-buttons {
	background-color: white;
}

.profile-pic {
	width: 250px;
	height: 250px;
	border: 2px solid white;
	box-shadow: 0 2px 5px black;
}

.user-jumbo.jumbotron {
	background-image: url(bg-scenario.jpg);
	background-size: cover;
	background-position: center;

}